DATABASE_URL=postgresql://neondb_owner:npg_SrKvEsid79cO@ep-square-voice-anpy3fge-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=db3e0d5a13db690a5139d8183b28ddf3850824f5ab68d2b7ba98f5505b1e2808
CLIENT_URL=http://localhost:5173
RESEND_API_KEY=re_2uqqW6gc_p7fYoxz5rJHerzDyM28rJ2HE
FROM_EMAIL=onboarding@resend.dev
PORT=3001
